@using System.Reflection;
@using System.Linq.Expressions;
@using System.ComponentModel.DataAnnotations;
@model IEnumerable<string>?

@{
    var options = SearchHelpers.CreateOptionsList<UserStateOption>(Model);
}

@if (options != null)
{
    <div class="form-group">
        <label asp-for="@Model"></label>
        @for (var i = 0; i < options.Count(); i++)
        {
            <div class="form-check">
                <input asp-for="@options[i].Selected" class="form-check-input" type="checkbox" id="@options[i].Selected" name="@Html.NameForModel()" value="@options[i].Value" />
                <label class="form-check-label" asp-for="@options[i].Selected">@options[i].Text</label>
            </div>
        }
    </div>
}
