@page
@using System.Linq.Expressions;
@using System.Reflection;
@using Microsoft.AspNetCore.WebUtilities;
@using System.Text;
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    IDictionary<string, string> GetSortingQueryParameterDictionary(string? sortCol = null)
    {
        var removeParams = new[] { Html.NameFor(m => m!.Search!.Paging!.Page) };

        var qs = QueryHelpers.ParseQuery(Request.QueryString.ToUriComponent());

        foreach(var p in removeParams)
        {
            qs.Remove(p);
        }

        if (qs == null)
        {
            return new Dictionary<string, string>();
        }

        var sName = Html.NameFor(m => m!.Search!.SortBy!.Name);
        var sDir = Html.NameFor(m => m!.Search!.SortBy!.Direction);

        var sortDir = (qs.ContainsKey(sName) && qs[sName] == sortCol) && qs.ContainsKey(sDir) && qs[sDir] == "asc" ? "desc" : "asc";

        qs[sName] = sortCol;
        qs[sDir] = sortDir;

        return qs.ToDictionary(s => s.Key, s => s.Value.ToString());
    }

    IDictionary<string, string> GetPagingQueryParameterDictionary(int page, int? size = null)
    {
        var qs = QueryHelpers.ParseQuery(Request.QueryString.ToUriComponent());

        if (qs == null)
        {
            return new Dictionary<string, string>();
        }

        var pageParam = Html.NameFor(m => m!.Search!.Paging!.Page);
        var sizeParam = Html.NameFor(m => m!.Search!.Paging!.Size);

        qs[pageParam] = page.ToString();
        if(size.HasValue)
        {
            qs[sizeParam] = size.ToString();
        }

        return qs.ToDictionary(s => s.Key, s => s.Value.ToString());
    }
}


<form asp-page="Index" asp-antiforgery="false" method="get" asp-all-route-data="@GetPagingQueryParameterDictionary(1)">
    <editor for="Search" />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<p>
<table class="table table-responsive-lg">
    <tr>
            <th><a asp-page="Index" asp-all-route-data="@GetSortingQueryParameterDictionary(Html.NameFor(m => m.Data!.First().GivenName))">@Html.DisplayNameFor(m => m.Data!.First().GivenName)</a></th>
            <th><a asp-page="Index" asp-all-route-data="@GetSortingQueryParameterDictionary(Html.NameFor(m => m.Data!.First().FamilyName))">@Html.DisplayNameFor(m => m.Data!.First().FamilyName)</a></th>
            <th><a asp-page="Index" asp-all-route-data="@GetSortingQueryParameterDictionary(Html.NameFor(m => m.Data!.First().EmailAddress))">@Html.DisplayNameFor(m => m.Data!.First().EmailAddress)</a></th>
            <th><a asp-page="Index" asp-all-route-data="@GetSortingQueryParameterDictionary(Html.NameFor(m => m.Data!.First().State))">@Html.DisplayNameFor(m => m.Data!.First().State)</a></th>
            <th><a asp-page="Index" asp-all-route-data="@GetSortingQueryParameterDictionary(Html.NameFor(m => m.Data!.First().IsArchived))">@Html.DisplayNameFor(m => m.Data!.First().IsArchived)</a></th>
        </tr>
    @foreach(var item in Model!.Data ?? Enumerable.Empty<DataModel>())
        {
            <tr>
                <td>@Html.DisplayTextFor(m => item.GivenName)</td>
                <td>@Html.DisplayTextFor(m => item.FamilyName)</td>
                <td>@Html.DisplayTextFor(m => item.EmailAddress)</td>
                <td>@Html.DisplayTextFor(m => item.State)</td>
                <td>@Html.DisplayTextFor(m => item.IsArchived)</td>
            </tr>
        }
    </table>
</p>

<p>
    @{
        var prevDisabled = !Model.Data!.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Data.HasNextPage ? "disabled" : "";
    }

    <a asp-page="Index" asp-all-route-data="@GetPagingQueryParameterDictionary(Model.Data.PageIndex - 1)" class="btn btn-default @prevDisabled">Previous</a>
    <span>Page @Model.Data.PageIndex of @Model.Data.TotalPages</span>
    <a asp-page="Index" asp-all-route-data="@GetPagingQueryParameterDictionary(Model.Data.PageIndex + 1)" class="btn btn-default @nextDisabled">Next</a>
</p>